<div class="card">
  <div class="card-header">
    <h4 class="card-title">b.4.6</h4>
    <span class="text-muted">5/31/2018</span>
  </div>
  <div class="card-body">
    <ul>
      <li>Added a Product/Packaging field into the request form</li>
      <li>Added a “Flex” option to request form when choosing the type of container</li>
      <li>Added new Consignee column in Booking Requests down below</li>
      <li>Added new Product column </li>
      <li>Moved the Booking # column over to left hand side</li>
      <li>Notes can now be seen when the booking request is opened rather than on the booking requests table</li>
      <li>Modified slightly the layout when you open an individual booking request</li>
      <li>Added a filter to allow filtering by Consignee</li>
    </ul>
  </div>
  <div class="card-header">
    <h4 class="card-title">b.4.0</h4>
    <span class="text-muted">5/4/2018</span>
  </div>
  <div class="card-body">
  <p>
    Initial beta release of Online Portal. Please report all bugs and issues to <a href="mailto:support@freightforwarder.com">Jane Doe</a>
  </p>
  </div>
</div>
