<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-newbkgreq-list" data-toggle="list" href="#list-newbkgreq" role="tab" aria-controls="newbkgreq">New Booking Request</a>
      <a class="list-group-item list-group-item-action" id="list-templates-list" data-toggle="list" href="#list-templates" role="tab" aria-controls="templates">Templates</a>
      <a class="list-group-item list-group-item-action" id="list-viewbkgreq-list" data-toggle="list" href="#list-viewbkgreq" role="tab" aria-controls="viewbkgreq">View Booking Requests</a>
      <a class="list-group-item list-group-item-action" id="list-export-list" data-toggle="list" href="#list-export" role="tab" aria-controls="export">Export/Print Data</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-newbkgreq" role="tabpanel" aria-labelledby="list-newbkgreq-list">Instructions on making a new booking.</div>
      <div class="tab-pane fade" id="list-templates" role="tabpanel" aria-labelledby="list-templates-list">Discussion of templates.</div>
      <div class="tab-pane fade" id="list-viewbkgreq" role="tabpanel" aria-labelledby="list-viewbkgreq-list">Using the My Bookings table, and the Booking Request modal.</div>
      <div class="tab-pane fade" id="list-export" role="tabpanel" aria-labelledby="list-export-list">Exporting and Printing data.</div>
    </div>
  </div>
</div>
